{% extends 'layouts/base.html' %}

{% block title %} {{ cook.first_name }} {{ cook.last_name }} {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} blog-author bg-gray-100 {% endblock body_class %}

{% block content %}

  {% include "includes/navigation-light.html" %}

  <section class="py-sm-7 py-5 position-relative">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="row py-lg-7 py-5">
            <div class="col-lg-3 col-md-5 position-relative my-auto">
              <img class="img border-radius-lg max-width-200 w-100 position-relative z-index-2 " src="/static/assets/img/chef-avatar.png">
            </div>
            <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h4 class="mb-0">{{ cook.first_name }} {{ cook.last_name }}</h4>
                {% if user.is_superuser or request.user.is_authenticated %}
                <div class="d-block">
                  <a href="/cook/{{ cook.id }}/update" type="button" class="btn bg-gradient-info w-auto me-1 mb-0">update</a>
                  <a href="/cook/{{ cook.id }}/delete" type="button" class="btn bg-gradient-danger w-auto me-1 mb-0">delete</a>
                </div>
                {% endif %}
              </div>
              <div class="row mb-4">
                <div class="col-auto">
                  <span class="h6">{{ cook.years_of_experience }}</span>
                  <span>years of experience</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

  <script src="{{ ASSETS_ROOT }}/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>

{% endblock javascripts %}